.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: 8rem;
    margin-bottom: 1rem;
}

.about .row .image {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .image img {
    width: 100%;
    border-radius: 4rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
}

.about .row .content p {
    font-size: 1.8rem;
    color: #ccc;
    padding: 1rem 0;
    margin: 2rem 0;
    line-height: 1.8;
}


.about .heading {
    margin-top: 8rem;
}