:root{
    --main-color:#FF0000;
    --black:#393E46;
    --bg:#252A34;
    --border:.1rem solid #FF2E63;
}

.container {
    text-align: center;
    border : var(--border);
    padding: 1rem;
    margin-left: 15px;
    margin-right: 15px;
}



.box-container .box .icons .btn-cart {
    color: rgb(255, 255, 255);
    line-height: 5rem;
    margin: .3rem;
    margin-top: 3rem;
}


.box-container .box .icons .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.box-container .box .icons .btn-add:hover {
    color: #3D0000;
    transition: .3s;
}

.box-container .box .icons .btn-add {
    font-size: 1.7rem;
}


.box-container .box .icons .btn-cart:hover {
    color: #3D0000;
    transition: .3s;
}

.box-container .box .icons .quantity {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
}

.box-container .box .image{
    padding: 2.5rem;
}

.box-container .box .image img {
    height: 25rem;
}

.box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}

.box-container .box .content .stars{
    padding: 1.5rem;
}

.box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}


.box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}


.box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}


