.Product {
    background-color: #22333b;
}

.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.Filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: 45rem;
}

@media screen and (max-width: 768px) {
    .Loader {
        margin-left: 11rem;
    }
    
}

.CardEffect:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.NoProducts h1 {
    text-align: center;
    margin-top: 5rem;
    color: #fff;
}