.root {
    background-color: #113946;
    box-shadow: #c6ac8f 0px 0px 0px 1px inset;  
    align-items: center;
  }

  
  .indicator {
    background-image: linear-gradient(
      to right,
      #22333b,
      #0a0908
    );
  }
  
  .control {
    &::before {
      display: none;
    }
  }
  
  .label {
    color: var(--mantine-color-white);
    &,
    &:hover {
      &[data-active] {
        color: var(--mantine-color-white);
      }
    }
  }