.header {
  height: rem(57px);
  background-color: #eae0d5;
  margin-bottom: 0.01rem;
}


.inner {
  height: rem(56px);
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width: $mantine-breakpoint-sm) {
  .inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
}

.ShoppingCart {
  position: absolute;
  left: 60rem;
}

@media (max-width: $mantine-breakpoint-sm) {
  .ShoppingCart {
    position: absolute;
    left: 17rem;
  }
}




.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  color: #22333b;

  [data-mantine-color-scheme] &[data-active] {
    background-color: #22333b;
    color: var(--mantine-color-white);
  }
}