.component {
   margin-top: 4rem;
   margin-bottom: 4rem;
   margin-left: 1rem;
    margin-right: 1rem;
}

.component h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: center;
    color: #ffff;
}

.component h3 span {
    color: #FF0000;
}


