.footer {
  margin-top: rem(120px);
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  background-color: #0000;
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-4));;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.description {
  margin-top: rem(5px);
  width: rem(400px);
  font-size: 1rem;
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }
}

.inner {
  display: flex;
  color: #ffff;
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;
  color: #ffff;
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.wrapper {
  width: rem(160px);
}

.link {
  margin-left: 5rem;
  display: block;
  color: #ffff;
  font-size: var(--mantine-font-size-md);
  padding-top: rem(3px);
  padding-bottom: rem(3px);

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: var(--mantine-font-size-xl);
  color: #ffff;
  margin-left: 5rem;
  font-weight: 500;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  width: rem(160px);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  text-transform: uppercase;
}

.afterFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.social {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
  }
}

.afterFooter img {
  height: rem(90px);
  margin-left: var(--mantine-spacing-xs);
  margin-right: var(--mantine-spacing-xs);
}


@media screen and (max-width: 1000px){
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .groups {
    display: none;
  }
  .link {
    margin-left: 0;
  }
  .title {
    margin-left: 0;
  }
  .description {
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }
  .afterFooter img {
    margin-left: 0;
    margin-right: 0;
  }
  .afterFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social {
    margin-top: var(--mantine-spacing-xs);
  }
}